<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pub_id %><br>
    <%= f.number_field :pub_id %>
  </div>
  <div class="field">
    <%= f.label :vote1_id %><br>
    <%= f.number_field :vote1_id %>
  </div>
  <div class="field">
    <%= f.label :vote2_id %><br>
    <%= f.number_field :vote2_id %>
  </div>
  <div class="field">
    <%= f.label :vote3_id %><br>
    <%= f.number_field :vote3_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
