<h1>Add Voting Entry</h1>

<%= form_tag do %>

<%= collection_select(:name, :id, Pub.all, :id, :name) %>

<%= collection_select(:name, :id, Pub.all, :id, :name) %>

<%= collection_select(:name, :id, Pub.all, :id, :name) %>

<%= submit_tag "Submit Votes" %>

<% end %>

<br>
<a href="/pubs/new">Add new pub</a>
<br>
<%= link_to 'Back', votes_path %>
