<p id="notice"><%= notice %></p>

<p>
  <strong>Pub:</strong>
  <%= @vote.pub_id %>
</p>

<p>
  <strong>Vote1:</strong>
  <%= @vote.vote1_id %>
</p>

<p>
  <strong>Vote2:</strong>
  <%= @vote.vote2_id %>
</p>

<p>
  <strong>Vote3:</strong>
  <%= @vote.vote3_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
